html{
    scroll-behavior: smooth;
}

#title {
  background-color: BLACK;
  color: white;
    font-family: 'Roboto Condensed';
}

@media (max-width: 950px) {

  .title-div{
    text-align: center;
      padding-bottom: 20rem;
  }


  .title-div p {color: grey;
  width: 150px;
  margin: auto;
  margin-bottom: 1rem;

  }
  .title-img {
    margin-top: 2rem;
    padding: 10rem 0;
  }

  .stats h3 {
      background-color: red;
      color: white;
      width: auto;
      font-size: 1.5rem;
      margin-top: 3rem;
  }



}

.divh1{
  margin-bottom: 100px;
}

.cointainer-fluid {
  padding: 5%;
}

h1 {
  font-family: 'Roboto Condensed';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color:white;
padding-top: 5rem;

}

h2{  font-family: "Roboto Condensed";
font-size: 2rem;
line-height: 1.5;
font-weight: bold;

}

h3 {
  font-family: "Roboto Condensed";
  font-size: 1.8rem;
  font-weight: bold;
}

.title-div p{
background-color: yellow;
  color: grey;
  width: 150px;
margin-top: 3rem;
}

.navbar {
  padding: 0 0 4.5rem;
}


.navbar-brand {
  font-family: "Roboto Condensed";
  font-weight: bold;
}



html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #030321;
  font-family: Arial;
}

svg {
    display: block;
    font: 10rem 'Montserrat';
    width: 2em;
    height: 0.7em;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #blue;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #grey;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;

}

.download-btn {
  margin: 0% 4% 5% 0;
}

.title-img {
  width: 70%;
  text-align: center;
padding: 10rem 0;
margin-top: 4rem;
margin-bottom: 4rem;
}

.-img {
  text-align: center;
}


.over{
  width: 75%;

}

.conq{
  width: 100%;
}

.war{
  width: 78%;
}

#features {
  padding: 15% 12%;
}

.t-al {
  text-align: center;
  padding: 5%;
}


.par {
  color: grey;
}

/*testimonial*/

#testimonials{

  text-align: center;
  background-color:BLACK;
  color: #030321;
  padding-bottom: 15rem;
}

  .spn{
  opacity: 0;
}

.testimonial-text{
  border-radius: 10%;
  background-color: #0c1014;
  box-shadow: white;
  color: white;
}

.test-img{
  width: 70%;
  padding: 4rem;
  padding-bottom: 0;
  padding-top: 0;
}

.coll{
  margin-top: 7rem;
  background-color: #070629;
}

}
.row{
  margin: auto;
}


.carousel-item{
    padding: 5% 15% 7%;
}

#press{
  background-color: BLACK;
  text-align: center;
  padding: 10px;
}



#cta{
  padding: 0 20%;
  background-color: grey;
  color: white;
  text-align: center;
}

#cta h3{
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 1rem;
  padding:0% 15% 0% ;
}

#footer{
  padding: 7% 0;
  margin-top: 10rem;
  text-align: center;
  font-weight: lighter;
color: white;
}

.f-log{
margin: 0 1%;
}

.f-log:hover{
  color: BLACK;

}

.stats{
  margin-top: 6rem;

  text-align: left;
}
.stats h3 {
  border-radius: 4%;
    background-color:#1f2226 ;
    color:#9da2a8 ;
    width: auto;
    margin-top: 2rem;
    font-family: "Roboto Condensed";
}

a{
  color: #232d38;
}

.stats-img{
border-radius: 5%;
  width: 70%;
  margin-bottom: 5rem;
  margin-top: 5rem;

}

.stats-img2{
  border-radius: 7%;
  width: 75%;
  margin-bottom: 5rem;
  margin-top: 5rem;

}

.stats-img3{
  border-radius: 7%;
  width: 75%;
  margin-bottom: 5rem;
  margin-top: 5rem;


}

.stats-img4{
  border-radius: 7%;
  width: 75%;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

 .testT{
  padding-top: 2rem;
  font-size: 3rem;
}
/*pricing*/
#features h3{
  color: white;
}
